* {
    box-sizing: border-box;
}

body {
    font-family: poppins, sans-serif;
    margin: 0;
    padding: 0;
}


img {
    gap: 10px;
    display: flex;
}


h1 {
    text-align: center;
    font-size: 2.027rem;
}


h2 {
    text-align: center;
    font-size: 1.802rem;
}


h3 {
    text-align: center;
    font-size: 1.266rem;
}


.container {
    max-width: 1200px;
}

.flex-container {
    display: flex;
}


.image-flex-container {
    display: inline-block;
    text-align: center;
    flex: 1;
}


.image-flex {
    border-radius: 15px;
    width: 500px;
    margin: 15px;
}

.grid-box {
    grid-template-areas: 
    "grid-image grid-image"
    "grid-image grid-image";
    display: grid;
    align-items: center;
    justify-content: center;
    margin: auto;
    grid-template-columns: auto 1fr;
}


.grid-image {
    width: 300px;
    border-radius: 15px;
    grid-area: "grid-image";
}

.section {
    width: 80%;
    margin: auto;
}


.section-one {
    display: flex;
    gap: 15px;
}


.wrapper {
    width: 300px;
    margin: auto;
}


.flex-container-text {
    display: flex;
}

.black-box {
    width: 110%;
    padding: 25px;
    background-color: black;
    color: white;
}

.p {
    flex: 1;
    padding: 13px;
}

.btn {
    border-radius: 6px;
    padding: 13px;
    background-color: black;
    color: white;
}

.footer {
    border-radius: 6px;
    padding: 50px;
    background-color: black;
    color: white;
}

